  <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<nav class="navbar navbar-expand-md navbar-light navbar-fixed-top bg-white">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-md-center" id="navbar">
            <a class="navbar-brand " href="/" title="Free Web tutorials">INICIO</a>
            <a class="navbar-brand " href="/servicios"> RETOS</a>
            <a class="navbar-brand " href="/clientes"> TALLERES</a>
            <a class="navbar-brand " href="/clientes"> TESTIMONIOS</a>
            <a class="navbar-brand " href="https://blog.ingsimonbolivar.com/"> BLOG</a>
            <a class="navbar-brand " href="/contacto"> CONTÁCTAME</a>

        </div>
        <div >

            <!--<a class="navbar-brand " href=""><i class="fas fa-tools"></i> Estamos construyendo este sitio para ti</a>-->

        </div>
    </div>

</nav>