<nav class="navbar navbar-expand-md navbar-light navbar-fixed-top bg-white">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-md-center" id="navbar">
            <a class="navbar-brand " href="/" title="Yasmin Devesa">Inicio</a>
            <a class="navbar-brand " href="/servicios"> Cursos</a>
            <a class="navbar-brand " href="/clientes"> </a>
            <a class="navbar-brand " href="/clientes"> Postcast</a>
            <a class="navbar-brand " href="https://blog.ingsimonbolivar.com/"> Blog</a>
            <a class="navbar-brand " href="/contacto"> Quien Soy!</a>

        </div>
    </div>

</nav>