{% extends 'base.html' %}


{% block content %}
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-primary">
        <div class="col-md-12 p-lg-5 mx-auto my-5">

            <h1 class="display-4 font-weight-normal">Hacemos los procedimientos complejos de tu negocio sencillos para ti.</h1>
            <p class="lead font-weight-normal">.</p>
        </div>
    </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

    <div class="container">
     <!--   <div class="row justify-content-md-center">
            <p class="display-14">Hacemos los procedimientos complejos de tu negocio sencillos para ti</p>
    </div>
    </div>
    <div class="container">
    <div class="row justify-content-md-center">
     <!-- <div class="col-md-4">
        <h2>Desarrollo de Software</h2>
        <p>Desarrollams Software a  la medida de tus necesidades. Usando herramientas de sofware libre </p>
        <p><a class="btn btn-secondary" href="#" role="button">Ver Detalles &raquo;</a></p>
      </div>-->
   <!-- <div class="col-mb-4">
      <div class="card border-primary md-3 h-100" style="max-width: 15rem;">
        <img src="static/imagenes/software.jpeg" class="card-img-top" alt="...">
        <div class="card-header">Software</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Desarrollo</h5>
            <p class="card-text">Desarrollamos Software a  la medida de tus necesidades. Usando herramientas de software libre </p>
        </div>
      </div>
    </div>
    <div class="col-mb-4">
      <div class="card border-primary md-3 h-100" style="max-width: 15rem;">
        <img src="static/imagenes/soporte.png" class="card-img-top" alt="...">
        <div class="card-header">Asistencia</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Soporte Técnico</h5>
            <p class="card-text">Soporte Técnico y Asesoría, ayudar a los usuarios para que puedan resolver problemas. </p>
        </div>
      </div>
    </div>
    <div class="col-mb-4">
      <div class="card border-primary md-3" style="max-width: 15rem;">
        <img src="static/imagenes/sms.png" class="card-img-top" alt="...">
        <div class="card-header">Mensajeria instantanea (Beta)</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Soluciones sms</h5>
            <p class="card-text">Te brindamos nuestra plataforma de mensajeria SMS para la adquición de data, mensajes masivos, alertas y la automatización de procesos de información. </p>
        </div>
      </div>
    </div>
    </div>


  <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Software. <span class="text-muted">Soluciones a tu talla.</span></h2>
        <p class="lead">Desarrollamos Software a  la medida de tus necesidades. Usando herramientas de software libre.</p>
      </div>
      <div class="col-md-5">
        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        --><img src="static/imagenes/software.jpeg" class="card-img-top" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Asistencia. <span class="text-muted">Siempre atentos.</span></h2>
        <p class="lead">Soporte Técnico y Asesoría, ayudar a los usuarios para que puedan resolver problemas.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        --><img src="static/imagenes/soporte.png" class="card-img-top" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Mensajeria instantanea. <span class="text-muted">Soluciones sms.</span></h2>
        <p class="lead">Necesitas mensajeria SMS para la adquisición de data, mensajes masivos, alertas y la automatización de procesos de información. Contáctanos</p>
      </div>
      <div class="col-md-5">
        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        --><img src="static/imagenes/sms.png" class="card-img-top" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  </div>
{% endblock %}