  <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<nav class="navbar navbar-expand-md navbar-light navbar-fixed-top bg-white">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-md-center" id="navbar">
            <a class="navbar-brand " href="/" title="Free Web tutorials"><i class="fas fa-home text-primary" ></i>INICIO</a>
            <a class="navbar-brand " href="/servicios"><i class="fas fa-users-cog text-secondary" ></i> SERVICIOS</a>
            <a class="navbar-brand " href="/clientes"><i class="fas fa-id-badge text-light" ></i> CLIENTES</a>
            <a class="navbar-brand " href="https://blog.ingsimonbolivar.com/"><i class="fas fa-blog text-dark" style="color:red;"></i> BLOG</a>
            <a class="navbar-brand " href="/contacto"><i class="fas fa-id-card" style="color:red;"></i> CONTÁCTANOS</a>

        </div>
        <div >

            <!--<a class="navbar-brand " href=""><i class="fas fa-tools"></i> Estamos construyendo este sitio para ti</a>-->

        </div>
    </div>

</nav>